@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body, ul, li, h1, h2, a {
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
  scroll-behavior: smooth;
}

.mantine-Modal-header {
  font-weight: bolder;
  font-size: 1.1rem
}

